*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color:inherit;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin:0;
	padding:0;
}




html,
body{
    height: 100%;
    /* line-height: 1; */
	
    

}


@font-face {
	font-family:"Archangelsk";
	src: url(/fonts/ofont.ru_Archangelsk.ttf) format('ttf');
	font-weight: 400;
}

body{
	font-family:"Roboto", sans-serif;
	font-size: 18px;
	font-weight: 400;
	/* line-height: 1.88; */
	color:#000000;
	overflow-x: hidden;
}

svg path {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
    }


.wrapper{
	overflow:hidden;
	display:flex;
	flex-direction: column;
	min-height: 100%;  /* оболочка min ширина окна браузера */
}


.container{
	width: 100%;
	/* 1280 */
	max-width: 1310px;
	padding:0 15px;
	margin: 0 auto;
}


@media  (max-width:1600px){

	.container{
		padding:0 36px;
	}
	

	
}

.main{
	flex:1 1 auto;/* расширение и прижатие прибитие футер к низу */
}


.title{
	font-family: "Archangelsk", sans-serif,Arial;
	line-height: auto;
	font-size: 62px;

}









/* header */

.header {
position: absolute;
top:0;
left:0;
z-index: 1000;
width:100%;
margin-top:20px;


}


.header__container{
	

}

.header__start{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
@media(max-width:800px){
	.header__start{
		flex-direction: column;
		

	}
	
	.header__logo:not(:last-child){

		margin-bottom:10px;

	}
}







.header__links {
	
}


.links {
}

.header__list{
	display:flex;
	align-items: start;
}
.header__item {
}
.header__item:not(:last-child){
	margin-right:40px;
}
.header__link {
	display:block;
}
.header__link>svg{
	display: block;
	width:30px;
	height: 30px;
	
	transition: all .3s ease-in-out;
}

.header__link>svg:hover{
	fill:#2e959e;
	stroke:#2e959e;
}



/* .header__icon svg:hover { stroke: red; fill: red; }; */

._youtube {
}
._vk {
}
._facebook {
}
._twitter {
}
._twitch {
}
._instagram {

}
/* main */

.main{
	
	
}

/* intro */









/* background animation */

	/* background animation */



.intro {
	
	position: relative;
	background-image: url("/img/hero.jpg");
	background-repeat: no-repeat;
	/* background-position: top center; */
	background-position: center;
	background-size:cover;
	width:100%;
	
	height: 100vh;
	/* min-height: 1000px; */
	z-index: 1;
	/* transform-origin:0; */
	opacity: 1;
	/* animation: picture 10s  infinite; */
	
}



@keyframes picture{
	0%{
		background-image: url("/img/hero.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		
	}

	25%{
		background-image: url("/img/hero2.jpg");
		opacity: 1;
		transition: opacity 7s ease-in-out;
		/* background-position: center; */
		
	}

	35%{
		background-image: url("/img/hero2.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		/* background-position: center; */
		
	}
	75%{
		background-image: url("/img/hero3.jpg");
		opacity: 1;
		transition: opacity 7s ease-in-out;
		
	}
	85%{
		background-image: url("/img/hero3.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		
	}

	/* 100%{
		background: url("/img/hero3.jpg") no-repeat;
		opacity: 1;
		transition: opacity 7s ease-in-out;
	} */
} 





.intro__container{
	width: 100%;
	height: 100%;
	position:relative;
	display:flex;
	/* flex-direction: column; */
	justify-content: flex-end;
	align-items:end;

}
/* @media(max-width:800px){
	.intro__container{
		justify-content:center;
		padding:0;
	}
} */



.intro__about{
	
	position: relative;
	background-color: #F8F200;
	
	 max-width: 624px;


	z-index: 1000;
	/* overflow: hidden; */
	
	/* height: 36.9%; */
	/* transform: translateY(-50px); */

   
	 clip-path:  polygon(
		0% 13%,     /* верхняя левая */
		8% 0%,     /* верхняя левая */
		100% 0%,    /* верхняя правая */
		100% 0%,   /* верхняя правая */
		100% 87%,  /* нижняя правая */
		92% 100%,  /* нижняя правая */
		0% 100%,   /* нижняя левая */
		0 100%      /* нижняя левая */
	  );
		 
}









.intro__about_wrapper{
	display: flex;
	flex-direction: column;
	margin:0 70px;
	padding-top:50px;
	padding-bottom:72px;
	/* word-wrap: break-word; */
}






.intro__title{
	
	margin-top:22px;
	color:#000000; 
	/* background-image: url(https://media.giphy.com/media/3oEduLeaoCojUXv3Lq/giphy.gif);
	background-clip:text;
	-webkit-background-clip:text; */
	
}





.intro__title:not(:last-child) {
	margin-bottom:25px;
}

.intro__button {
	
	padding:19px 50px;
	

}


.button {
	display:block;
	width: 100%;
	max-width:272px;
	
	text-align: center;
	font-weight: bold;
	font-size:24px;
	background-color: #000000;
	color:#F8F200;
}




.button:hover{
	color:#2e959e;
}





