*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:root{

	--white:#ffffff;
	--yellow:#F8F200;
	--grey:#777777;
	--black:#000000;
	--blue:#52BEDC;

	--clipPath430:polygon(
		0% 20%,     /* верхняя левая */
		12% 0%,     /* верхняя левая */
		100% 0%,    /* верхняя правая */
		100% 0%,   /* верхняя правая */
		100% 80%,  /* нижняя правая */
		88% 100%,  /* нижняя правая */
		0% 100%,   /* нижняя левая */
		0 100%      /* нижняя левая */
	  );
	
	;

	--clipPath50:polygon(
		0% 13%,     /* верхняя левая */
		8% 0%,     /* верхняя левая */
		100% 0%,    /* верхняя правая */
		100% 0%,   /* верхняя правая */
		100% 87%,  /* нижняя правая */
		92% 100%,  /* нижняя правая */
		0% 100%,   /* нижняя левая */
		0 100%      /* нижняя левая */
	  );
	  --clipPath70:polygon(
		0% 15%,     /* верхняя левая */
		15% 0%,     /* верхняя левая */
		100% 0%,    /* верхняя правая */
		100% 0%,   /* верхняя правая */
		100% 85%,  /* нижняя правая */
		85% 100%,  /* нижняя правая */
		0% 100%,   /* нижняя левая */
		0 100%      /* нижняя левая */
	  );

	  --clipPath100:polygon(
		0% 25%,     /* верхняя левая */
		15% 0%,     /* верхняя левая */
		100% 0%,    /* верхняя правая */
		100% 0%,   /* верхняя правая */
		100% 75%,  /* нижняя правая */
		85% 100%,  /* нижняя правая */
		0% 100%,   /* нижняя левая */
		0 100%      /* нижняя левая */
	  );

}
a {
	text-decoration: none;
	color:inherit;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin:0;
	padding:0;
}

html,
body{
    height: 100%;
    /* line-height: 1; */
}

@font-face {
	font-family:"Archangelsk";
	src: url(/fonts/ofont.ru_Archangelsk.ttf) format('ttf');
	font-weight: 400;
}

body{
	font-family:"Roboto", sans-serif;
	font-size: 18px;
	font-weight: 400;
	/* line-height: 1.88; */
	color:var(--black);
	overflow-x: hidden;
}


button{
	padding: 0;
	border:0;
	font:inherit;
	color:inherit;
	background-color: transparent;
}

svg path {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
    }


.wrapper{
	overflow:hidden;
	display:flex;
	flex-direction: column;
	min-height: 100%;  /* оболочка min ширина окна браузера */
}


.container{
	width: 100%;
	/* 1280 */
	max-width: 1310px;
	padding:0 15px;
	margin: 0 auto;
}


@media  (max-width:1600px){
	.container{
		padding:0 36px;
	}
}

@media  (max-width:768px){
	.container{
		padding:0 16px;
	}
}

@media  (max-width:425px){
	.container{
		padding:0 12px;
	}
}

@media  (max-width:375px){
	.container{
		padding:0 8px;
	}
}




.main{
	flex:1 1 auto;/* расширение и прижатие прибитие футер к низу */
}

@font-face{
	font-family:"Archangelsk";
	src:url("../fonts/ofont.ru_Archangelsk.ttf");
}


.title{
	font-family:"Archangelsk", sans-serif,Arial;
	/* line-height: auto; */
	font-size: 62px;
	font-weight: 500;
	

}



@media(max-width:800px){
	.title{
		font-size:40px;
	}
}
@media(max-width:430px){
	.title{
		font-size:30px;
		text-align: center;
	}
}





.text {

line-height: 1.888;

}

._text-blue {
	color:var(--blue);
	font-weight: 700;
}





/* header -----------------------------------------------------------------------------*/

.header {
position: absolute;
top:0;
left:0;
z-index: 1000;
width:100%;
margin-top:20px;
}

@media(max-width:430px){
	
	.header{
		margin:0 auto;
		margin-top:20px;
		
	}
}

.header__start{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
@media(max-width:800px){
	.header__start{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		

	}
	
	.header__logo:not(:last-child){

		margin-bottom:10px;

	}
}


@media(max-width:430px){
	.header__logo img{
		width: 200px;

		text-align: center;
		margin: 0 auto;
	}
}

.header__list{
	display:flex;
	align-items: start;
	justify-content: space-around;
}

@media(max-width:430px){
	
	.header__item:not(:last-child) {
		
		margin-right: 10px;
	}
}

.header__item:not(:last-child){
	margin-right:20px;
}
.header__link {
	display:block;
}
.header__link>svg{
	display: block;
	width:30px;
	height: 30px;
	
	transition: all .3s ease-in-out;
}

.header__link>svg:hover{
	fill:#2e959e;
	stroke:#2e959e;
}



/* intro ---------------------------------------------------------------------------------*/

.intro {
	
	position: relative;
	background-image: url("../img/hero.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	width:100%;
	height: 100vh;
	z-index: 1;
	opacity: 1;
	animation: picture 10s  infinite;
}

@media(max-width:1024px){
	.intro{
		background-image: url("../img/hero-1024.jpg");
		animation: picture-1024 10s  infinite;
	}
	
}

@media(max-width:430px){
	.intro{
		background-image: url("../img/hero-430.jpg");
		padding-bottom:50px;
		animation: picture-430 10s  infinite;
	}

	.intro:after{
		content: "";
		display: block;
		width: 100%;
		height: 50px;
		background-color: white;
		border:1px solid white
	}
}
@keyframes picture{
	0%{
		background-image: url("../img/hero.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		
	}

	25%{
		background-image: url("../img/hero2.jpg");
		opacity: 1;
		transition: opacity 7s ease-in-out;
		/* background-position: center; */
		
	}

	35%{
		background-image: url("../img/hero2.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		/* background-position: center; */
		
	}
	75%{
		background-image: url("../img/hero3.jpg");
		opacity: 1;
		transition: opacity 7s ease-in-out;
		
	}
	85%{
		background-image: url("../img/hero3.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		
	}

} 

@keyframes picture-1024{
	0%{
		background-image: url("../img/hero-1024.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		
	}

	25%{
		background-image: url("../img/hero2-1024.jpg");
		opacity: 1;
		transition: opacity 7s ease-in-out;
		/* background-position: center; */
		
	}

	35%{
		background-image: url("../img/hero2-1024.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		/* background-position: center; */
		
	}
	75%{
		background-image: url("../img/hero3-1024.jpg");
		opacity: 1;
		transition: opacity 7s ease-in-out;
		
	}
	85%{
		background-image: url("../img/hero3-1024.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		
	}

	
} 
@keyframes picture-430{
	0%{
		background-image: url("../img/hero-430.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		
	}

	25%{
		background-image: url("../img/hero2-430.jpg");
		opacity: 1;
		transition: opacity 7s ease-in-out;
		/* background-position: center; */
		
	}

	35%{
		background-image: url("../img/hero2-430.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		/* background-position: center; */
		
	}
	75%{
		background-image: url("../img/hero3-430.jpg");
		opacity: 1;
		transition: opacity 7s ease-in-out;
		
	}
	85%{
		background-image: url("../img/hero3-430.jpg");
		opacity: 0.8;
		transition: opacity 7s ease-in-out;
		
	}

	
} 
.intro__container{
	
	width: 100%;
	height: 100%;
	position:relative;
	display:flex;
	
	justify-content: flex-end;
	align-items:end;

}
@media(max-width:800px){
	.intro__container{
		padding:0;
		justify-content: center;
	}
}
.intro__about{
	
	position: relative;
	background-color: var(--yellow);
	max-width: 624px;
	z-index: 1000;
	clip-path:  var(--clipPath50);
		 
}

@media(max-width:430px){
	.intro__about{
		top:50px;
		clip-path: var(--clipPath430);
	}
}

.intro__about_wrapper{
	display: flex;
	flex-direction: column;
	margin:0 70px;
	padding-top:50px;
	padding-bottom:72px;
	/* word-wrap: break-word; */
	

}
@media(max-width:800px){
	.intro__about_wrapper{
		align-items: center;
	}
}

@media(max-width:430px){
	.intro__about_wrapper{
		margin:0 10px;
		
	}
}



.intro__title{
	
	margin-top:22px;
	color:transparent; 
	background-image: url(https://media.giphy.com/media/3oEduLeaoCojUXv3Lq/giphy.gif);
	background-clip:text;
	-webkit-background-clip:text;
	
}

.intro__title:not(:last-child) {
	margin-bottom:25px;
}

.intro__button {
	padding:19px 50px;
}
.button {
	display:block;
	width: 100%;
	max-width:272px;
	
	text-align: center;
	font-weight: bold;
	font-size:24px;
	background-color: var(--black);
	color:var(--yellow);
	transition: all .3s ease-in-out;

}
.button:hover{
	background-color:var(--blue);
	color:var(--black);
}

@media  (max-height:999px){
	
	
	.title-mod.title{
		font-size:30px;
	}

	.button{
		font-size: 15px;
		max-width: 150px;
	}

	.intro__about{
		max-width: 415px;
	}
	.intro__about_wrapper{
		padding-top:5px;
		padding-bottom:15px
	}

	

	.intro__button{
		padding:10px 15px;
	}

	
}

@media  (max-height:520px){

	.title{
		font-size:20px;
	}

	.intro__title:not(:last-child){
		margin-bottom: 10px;
	}
	.intro{
		
		background-image: url("../img/hero.jpg");
		
			
		
	}


	.intro__about{
		max-width: 300px;
	}

	.intro__about_wrapper{
		padding:0;
		padding-bottom:10px;
	}


}



@media(max-width:880px) and (max-height:430px){


	.header__container,.intro__container{
		padding:0 15px;
	}
	.header__start{
		flex-direction: row;
		justify-content: space-between;
	}

	.header__logo img{
		max-width: 150px;
	}

	.header__list{
		max-width:270px;
	}

	.header__item:not(:last-child){
		margin-right: 5px;
		/* width: 20px; */
	}

	.intro__container {
		justify-content: end;
		padding:0 15px;
	}


	.intro__about_wrapper{
		max-width:170px;
		margin:0 20px;

	}

}


/* Promo----------------------------------------------------------------------------- */


.promo {
	margin-top:70px;
	margin-bottom:70px;
	position: relative;
	z-index: 1000;
}
@media(max-width:600px){
	/* .promo__container{
		padding:0 36px;
	} */
	.promo__container:nth-child(2n) {
	padding:0;
	margin:0;
	width: 100%;
}
}




@media(max-width:1024px){
	.promo__title{
		width: 100%;
		max-width:620px;

}
}



.promo__title:not(:last-child) {
	margin-bottom:25px
}


@media(max-width:600px){
	.promo__title{
		text-align: left;
	}
}
.promo__text {
		color:#777777;
		width: 100%;
		max-width: 952px;
		padding-bottom: 70px;
}

@media(max-width:1024px){
	.promo__text{
		width: 100%;
		max-width:788px;
	}
}

@media(max-width:768px){
	.promo__text{
		width: 100%;
		max-width:788px;
		
	}
}
@media(max-width:600px){
	.promo__text{
		font-size: 16px;
		
	}
}



.scrShoots {

	display:grid;
	gap:32px;
	
	grid-template-columns: 1.2fr 2fr;
	grid-template-rows:1fr 1fr;
	grid-auto-rows:minmax(196px, auto);
	grid-auto-columns: minmax(460px auto);
	grid-auto-flow: column;

	/* grid-auto-rows:minmax(196px, auto); */
}

@media (max-width:1024px){

	.scrShoots {
		grid-template-columns: 1fr 1fr;
		grid-template-rows:min-content;
		grid-auto-columns: none;
		
	}
}

@media (max-width:600px){

	.scrShoots {
		position: relative;
		grid-template-columns: 1fr;
		grid-template-rows:repeat(3,1fr);
		grid-auto-flow: row;
	}

	
}






.scrShoots__item:nth-child(3n){
	grid-row: 1/ 3;
}

@media(max-width:1024px){

	.scrShoots__item{
		
		grid-auto-rows: 1;
	}
	.scrShoots__item:nth-child(3n){
		grid-column-start:1;
		grid-column-end:3;
		grid-row-start:2;
		max-height: 424px;
		height: none;
		
}




	
}

@media(max-width:600px){
	.scrShoots__item{
		position: relative;
		/* overflow: hidden; */
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		
		
	}


	.scrShoots__item:nth-child(3n){
		grid-column-start:auto;
		grid-column-end:auto;
		grid-row-start:3;
		grid-row-end:5;
		/* max-height: 100%; */
		
		
}
}





.scrShoots__item img {
	width: 100%;
	
	clip-path:  var(--clipPath50);
}

@media(min-width:1024px){
	.scrShoots__item img{
		height: 100%;
	}
}



@media(max-width:600px){
	.scrShoots__item img {

		/* display:none; */
		clip-path:  var(--clipPath100); 
		min-height: 196px;
		object-fit:fill;
	}



	.scrShoots__item:nth-child(3n) img {
		position: absolute;
		top: 0%;
		left:50%;
		transform: translate(-50%,0%);
		width: 100%;
		clip-path:  var(--clipPath70);
		
		
	}
}


/* feedback============================================================== */

.feedback {
	
	position:relative;
	background: var(--black);
	z-index: 900;
	overflow: hidden;

	/* margin:-80px 0; */
	/* margin-bottom: -80px; */
	/* padding:0 0 70px 0; */
	
}




.feedback:before,
.feedback:after{
	content:"";
	display: none;
	position: absolute;
	height:160px;
	width: 100%;
	
	filter: contrast(700%) brightness(120%);
	
	
	z-index: 5;
}


/* grainy edges */
.feedback:before{
	
	top:-2px;
	left:0;
	background: 
	  linear-gradient(0, rgba(0,0,0,1), rgba(0,0,0,0)),
	  url(../img/feedback/noise/noise.svg),
	  var(--white);
	
	
}

.feedback:after{
	bottom:0px;
	left:0;
	transform: rotate(180deg);
	background: 
	  linear-gradient(0, rgba(0,0,0,1), rgba(0,0,0,0)),
	  url(../img/feedback/noise/noise.svg),
	  var(--yellow);
}



.feedback__wrapper{
	position: relative;
    /* padding: 110px 0 160px; */
    z-index: 100;
	display:grid;
	grid-template-columns: repeat(4,auto);
	align-content:stretch;
}

@media(max-width:1024px){
	.feedback__wrapper{
		/* padding: 110px 0 70px; */
		
	}
}
@media(max-width:1023px){
	.feedback__wrapper{
		grid-template-columns: 1fr;

	}
}




.feedback__benefit{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:1;
	width: 132px;
}






.benefit__link{
	display: block;


}
.benefit__logo {
	display: block;
	margin-right: 32px;
	
}

@media(max-width:768px){

	.benefit__logo{
		width: 90px;
	
	}

}

@media(max-width:425px){

	.benefit__logo{
		width: 62px;
		
	}

}
.feedback__title {
	grid-column-start:1;
	grid-column-end:4;
	grid-row-start: 1;
	margin-left:164px;
	padding-top: 40px;
	color:var(--white);
	
	
}
	@media (max-width:1440px){
		.feedback__title  {
			max-width: 460px;
			grid-row:1;
			margin-left: 0;
			padding:0;
			margin-top: 162px;

		}
	}


	@media(max-width:1023px){

		.feedback__title{
			grid-row:2;
			margin-top:25px;
			max-width: 100%;
			text-align:center;
			grid-column:1/5;
		}
	
	}
	@media(max-width:1023px){

		.feedback__title{
			text-align: left;

	}
}

.feedback__text {
	grid-row-start:2;
	grid-column-start:1;
	grid-column-end:4;
	color:var(--white);
	max-width: 952px;
	margin: 25px 0 0px 0;
}


@media (max-width:1440px){
	.feedback__text {
		max-width: 460px;
		grid-column-end:2;
		grid-row-start:3;
	}
}

@media(max-width:1023px){

	.feedback__text{
		max-width:100%;
		grid-column:1/5;
	}

}

@media(max-width:425px){

	.feedback__text{
		font-size: 16px;
	}

}


.feedback__more {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}



/* Form */

.feedback__form {
	grid-row-start:3;
	grid-column-start: 1;
	grid-column-end:3;
	padding:117px 0 0 0;
	
}

@media(max-width:1440px){
	.feedback__form {
		grid-row-start:4;
		padding:98px 0 0 0;
	
	}
}

@media(max-width:1023px){
	.feedback__form {
		grid-column:1/5;
		padding:70px 0 0 0;
	
	}
}
.form {
	color:var(--grey);

	width: 460px;
	/* width: 100%; */
	display: block;
	font-weight: 300;


}

@media(max-width:1023px){
	.form{
		width:100%;
	}
	
}

 @media(max-width:1440px){
	.feedback__form {
		width: 460px;
	}
} 

@media(max-width:1023px){
	.feedback__form {
		width: 100%
	}
}
.form .label{
	display: block;
	position: relative;
}


.form label:not(:last-child){
	margin-bottom: 35px;
}

.form input{
	position: relative;
	font-family:inherit;
	font-size:inherit;
	font-weight: 300;
	color:var(--white);
	line-height: auto;
	margin: 0;
	outline: none;
	border:none;
	padding-bottom: 13px;
}



@media(max-width:425px){
	.form input{
		font-size: 16px;
	}
}

.form input[type=text],
.form input[type=email]{
	background-color: transparent;
	width:100%;
	
	
	border-bottom:1px solid var(--grey);
	transition: all .4s ease-in-out;
}



  .form input::placeholder{
	color:var(--white);
	font-size:18px;
	}

	@media(max-width:425px){
		.form input::placeholder{
			font-size:16px;
		}
	}
	  input[type=text]:focus::-webkit-input-placeholder,
	  input[type=email]:focus::-webkit-input-placeholder  {
		color:var(--blue);
		font-weight: 400;
		transition: all .4s ease-in-out;
		
	}
	input[type=text]+span,
	input[type=email]+span {
		display: block;
		position: relative;
		width: 100%;
		
		
		
	}
	input[type=text]+span:after,
	input[type=email]+span:after{
		content:'';
		display: block;
		position: absolute;
		opacity: 0;
		bottom:0;
		left:0;
		width: 0;
		height: 1px;
		background-color: var(--blue);
		z-index: 10;
		transition: opacity .4s ease-in-out;
	}

	input[type=text]:focus+span:after,
	input[type=email]:focus+span:after{
		
		opacity: 1;
		animation:showBorder .9s;
		width: 100%;
		
	}


	@keyframes  showBorder{
		0%{
			width: 0;
			
			/* transition: all .8s linear; */
			
		}
		
		100%{
			width: 100%;
		
			/* transition: all .8s linear; */

			
		}
	}
	


	/* file input */
	
.file-label{
	display: block;
	position: relative;
	width: 100%;
	/* max-width: 186px; */
	padding:39px 0px;
	/* border-bottom: 1px dashed var(--grey); */
	text-align:center;
	background-color: transparent;
	
	}
/* Рамка  для file input*/

.file-label_hr,
.file-label_vr{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.file-label_hr {
		background-image: linear-gradient(to right, var(--grey) 60%, transparent 40%);
		background-size: 10px 1px;
		background-repeat: repeat-x;
	}

	
	
.file-label_vr{
		background-image: linear-gradient(to bottom, var(--grey) 60%, transparent 40%);
		background-size: 1px 10px;
		background-repeat: repeat-y;
	}

	.file-label_hr:before,
	.file-label_vr:before{
		content: "";
		display: block;
		position: absolute;
		z-index: 1000;
	}

	.file-label_hr:before{
		top:100%;
		left:0;
		width: 100%;
		height: 1px;
	   	background-image: linear-gradient(to right, var(--grey) 60%, transparent 40%);
		background-size: 10px 1px;
		background-repeat: repeat-x;
	}

	.file-label_vr:before{
		top:0;
		right:0px;
		width: 1px;
		height:100%;
	   	background-image: linear-gradient(to bottom, var(--grey) 60%, transparent 40%);
		background-size: 1px 10px;
		background-repeat: repeat-y;
		
	}


	/* конец рамки */



.form input[type=file]{
	display: none;
	opacity: 0;
	visibility: hidden;

}




.form input[type=file]:hover{
	color:var(--blue)
}
.file-label {

	cursor: pointer;
	color:var(--white);
	transition: all .4s ease-in-out;
}

.file-label:hover {
	color:var(--blue);
	
}

.file-label:hover .file-label_hr:before,
.file-label:hover .file-label_hr{
	
	
	animation: frameBlueWidth 1s;
	background-image: linear-gradient(to left, var(--blue) 60%, transparent 40%);
}




@keyframes frameBlueWidth{
	0%{
		background-image: linear-gradient(to left, var(--blue) 60%, transparent 40%);
		width: 0;
	}
	100%{
		background-image: linear-gradient(to left, var(--blue) 60%, transparent 40%);
		width: 100%;
	}
}

.file-label:hover .file-label_vr:before,
.file-label:hover .file-label_vr{
	
	
	animation: frameBlueHeight 1s;
	background-image: linear-gradient(to top, var(--blue) 60%, transparent 40%);
}

@keyframes frameBlueHeight{
	0%{
		background-image: linear-gradient(to top, var(--blue) 60%, transparent 40%);
		height: 0%;
	}
	100%{
		background-image: linear-gradient(to top, var(--blue) 60%, transparent 40%);
		height: 100%;
	}

}







.file-label__text {
	/* max-width: 186px; */
	width: 100%;
	margin: 0 auto;
	/* font-size: 18px; */
}
@media(max-width:425px){
	.file-label__text{
		font-size: 16px;
	}
}



.file-label__subscribe {

	text-decoration: underline;
	margin-bottom: 7px;
	cursor: pointer;
}


.file-label__type {
	font-size: 12px;
}





.form__submit {
	display: block;
	margin-top: 35px;
	background-color: var(--yellow);
	color:var(--black);
	font-weight: 700;
	padding:19px 50px;
	box-shadow: 0 4px 4px rgba(0,0,0,0.25);
	transition: all .3s ease-in-out;
}

@media(max-width:425px){
	.form__submit {
		font-size:16px;
	}
}

.form__submit:hover{
	background-color: var(--blue);
}

.label-checkbox{
	display: flex;
	max-width: 297px;
	margin-top: 29px;
	font-size: 12px;
}

.form__agreement{
	font-size: 12px;
	color:var(--white);
	
}
.form__checkbox:checked,
.form__checkbox:not(:checked){
	position: absolute;
	z-index: -1;
	opacity: 0;

}

.form__checkbox+span{
	display: inline-block;
	position: relative;
	padding-left:28px;
	cursor: pointer;


}

/* Рамка checkbox*/

.form__checkbox+span:before{
	content:"";
	position: absolute;
	z-index: 1000;
	top:0;
	left:0;
	width: 14px;
	height: 14px;
	border:1px solid var(--grey);
	background-color: transparent;
}

/* Галка checkbox */
.form__checkbox:checked+span::after{
	content:"";
	position:absolute;
	left:3px;
	top:3px;
	width: 8px;
	height: 5px;
	/* border-radius: 1px; */
	opacity: 1;
	border-left:2px solid var(--yellow);
	border-bottom:2px solid var(--yellow);
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
	transform: rotate(-45deg);
	transition:all .3s ease;
}

.form__checkbox:not(:checked)+span::after{
	opacity: 0;
}





/* feedback__images */

.feedback__posters {
	grid-column-start:3;
	grid-row-start:3;
	position: relative;
	margin-top:69px;
	margin-left: 32px;
	max-width: 788px;
	width: 100%;
}


@media (max-width:1440px){
	.feedback__posters{
		position: absolute;
		right: 0;
		margin-top:120px;
		grid-row:1;
	
		margin-left: 0px;
		width: 460px;
	}
}

@media (max-width:1023px){
	.feedback__posters{
		grid-column:1/5;
		width:100%;
		position: relative;
		margin-top: 120px;
		justify-content: center;
		margin:120px auto 0px auto;
		max-width: none;
	
		
	}
}

@media(max-width:768px){
	.feedback__posters{
		margin-top: 68px;
	}
}

@media(max-width:425px){
	.feedback__posters{
		margin-top: 52px;
	}
}

@media(max-width:330px){
	.feedback__posters{
		margin-top: 45px;
	}
}

.feedback__backgrounds {
	max-width: 788px;
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	display: flex;
	
	z-index: 100;
	top:0;
	left:0;
}

@media (max-width:1440px){
	.feedback__backgrounds {
		flex-direction: column;
	
		right: 0;
		width:460px;
		
	}
}

@media (max-width:1023px){
	.feedback__backgrounds{
		position: absolute;
		flex-direction: row;
		justify-content: space-between;
		width:100% ;
		max-width: none;
		
	}
}

@media (max-width:425px){
	.feedback__backgrounds{
		justify-content: space-evenly;
		/* margin-top: 10px; */
	}
}

@media (max-width:375px){
	.feedback__backgrounds{
		justify-content: space-between;
	}
}

@media (max-width:340px){
	.feedback__backgrounds{
		margin-top: 5px;
	}
}

.feedback__backgrounds img{
	/* position: relative; */
	z-index: 2;
	width: 100%;
	max-width:460px;
}






.z-blue {
	
	
	transform: translate(-115px,10px);
}

@media (max-width:1440px){
	.z-yellow{
		transform: translate(5px,0px);
	}

	.z-blue{
		transform: translate(0,-35px);
	}
	
}

@media (max-width:1023px){

	.feedback__backgrounds img{
		width:min(50%,500px);
	}
	.z-yellow{
		transform: translate(0px,0px);
		left:0;
	}
	.z-blue{
		transform: translate(0px,0px);
		right: 0;
	}


	
}

@media (max-width:768px){

	.feedback__backgrounds img{
		width: min(50%,300px);
		
		/* display:  none; */
	}

}



@media (max-width:425px){

	.feedback__backgrounds img{
		width:132px;
		
		/* display:  none; */
	}

}



.feedback__images{
	position: relative;
	z-index: 1000;
	display: flex;
	width: 100%;
	max-width: 624px;
	
	justify-content: space-between;
	align-items: center;
	margin-top:25px;
	margin-left: 164px;
	/* x */
}

@media (max-width:1440px){
	.feedback__images{
		
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
		width: 100%;
		margin-top:20px;
		padding-bottom: 70px; 
		}
} 

@media (max-width:1023px){
	.feedback__images{
		
		flex-direction: row;
		/* justify-content: space-evenly; */
		align-items: center;
		max-width: none;
		width: 100%;
		/* margin-top:0; */

	}
	
}

@media (max-width:595px){
	.feedback__images{
		
		flex-direction: row;
		
		align-items: center;
		max-width: none;
		width: 100%;
		padding-bottom: 25px;

	}
	
}

@media(max-width:430px){
	.feedback__images{
		
	justify-content: space-evenly;
		margin-top:10px;

	}
}

@media(max-width:375px){
	.feedback__images{
		
	justify-content: space-between;
		margin-top:10px;

	}
}





@media (max-width:1440px){
	.feedback__images img{
		
		position: absolute;
		right: 0;
		/* display: none; */
	}
	
	.feedback__images .feedback__ps5{
		margin-top:50px;
		top:351px;
	}
}
	

@media (max-width:1023px){
	.feedback__item{
		width: min(30%,500px);
		max-width: 350px;
		text-align: center;
		display:flex;
	justify-content: center;
	align-items: center;
	}

	.feedback__item:first-child{
		margin-left:20%;
	}
	.feedback__item img{
		/* visibility: hidden; */
		position:relative;
		width: 100%;
		
		/* ??? */

	}
	.feedback__item .feedback__ps5{
		margin-top: 0;
		top:0;
		
		
	}
}
	
@media (max-width:425px){
	.feedback__item img{
		width: 84.94px;
	}
	.feedback__item:first-child{
		margin-left:35px;
	}
}

@media (max-width:340px){
	
	.feedback__item:first-child{
		margin-left:45px;
	}
}

	

.feedback__xbox{
	position:relative;
	
	z-index: 1000;
}
@media (max-width:1440px){
	.feedback__xbox:not(:last-child){
	margin-bottom: 50px;
}
}
@media (max-width:1023px){
	

	.feedback__xbox:not(:last-child){
	margin-bottom: 0px;
}

   
}



.feedback__ps5{
	
	position: relative;
	z-index: 1000;
}





/* Fulldipining */









.yellow{
	/* margin-top:40px; */
	position: relative;
	z-index: 1000;
	background-color: var(--yellow);
}

._left-pict img{
	background-image: url("Слой 2.png");
	position: absolute;
	left: 0px;
	top: 0px;
	width: 296px;
	height: 351px;
	z-index: 1;
}